/* NAVBAR TRANSPARAN + BLUR */

.navbar {
    background: rgba(18, 18, 18, 0.45) !important;
    
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.08);

    border-radius: 15px;

    margin-top: 10px;
}

/* pembungkus navbar */
.container-fluid {
    background: transparent !important;
}

/* efek shadow halus */
.navbar {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}
.navbar-brand,
.nav-link {
    color: #000000 !important;
}

.nav-link:hover {
    color: white !important;
    transition: 0.3s;
}


/* FOTO UTAMA BERANDA */
#beranda img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #7db8ff;
    border-radius: 50%;
    transition: 0.4s ease;
}

/* efek hover */
#beranda img:hover {
    transform: scale(1.05);
    box-shadow:

}