#p{
    background-color: rgb(173, 153, 153);
}
.h1{
    color: blueviolet;
    font-style: italic;
    text-align: center
}

.internet{
    background-image: url(https://smkn1mks.sch.id/storage/2022/06/slide02.png);
    background-repeat: no-repeat;
    height: 100vh;
}
.local{
     background-image: url(gambar/file-gambar.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}
