*{
    margin: 0;
    padding:  0%;
    box-sizing: border-box;
}
body{
    font-family: 'arial';
    display: flex;
}
.sidebar{
    background-color: #333;
    color: bisque;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.sidebar-logo{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
.sidebar-links{
    list-style: none;
    width: 100%;
    padding-left: 0%;
}
.sidebar-links li{
    width: 100%;
}
.sidebar-links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    display: block;
    width: 100%;
    text-align: center;
}
.sidebar-links a:hover{
    background-color: #575757;
}
.content{
    padding: 20px;
    flex-grow: 1;
}
body{
    background-image: url(https://th.bing.com/th/id/OIP.r_IsEEBtdSWiPGYUXJb1LAHaEK?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3);
    background-size: 100%;
    background-repeat: no-repeat;
}
h1{
    font-style: italic;
    color: azure;
    text-align: center;
    font-size: 350%;
}
h2{
    text-align: center;
    color: rgb(18, 124, 182);
    font-style: italic;
}
table{
    color: rgb(21, 23, 26);
    font-style: italic;
    text-align: center;
}
b{
    color: azure;
    font-style: italic;
    text-align: center;
}
p{
    color: azure;
    font-style: italic;
    text-align: center;
}
li{
    color: bisque;
    font-style: italic;
    text-align: center;
}